<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../my-message/my-message.html">
<link rel="import" href="../my-spinner/my-spinner.html">

<dom-module id="my-register">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        max-width: 700px;
        margin: 0 auto;
      }
      .buttons {
        margin: 0 auto;
        width: max-content;
        margin-top: 15px;
      }
      .card-register {
        padding: 1px 50px 1px 50px;
      }

      .conent-message {
        background-color: #FCDFDF;
        color: #990000;
        margin-top: 10px;
        font-size: smaller;
        min-height: 30px;
        padding-top: 10px
      }

      iron-icon.tiny {
        --iron-icon-height: 15px;
        --iron-icon-width: 15px;
        float: left;
        margin-top: 2px;
        margin-right: 8px;
        margin-left: 10px;
        }

        .text-succes {
          font-size: xx-large;
        }

        .email-succes {
          font-size: xx-large;
          color: black;
          text-align: center;
          margin-top: 50px;
        }

        .content-succes {
          height:300px;
          text-align: center;
          color: white;
        }

        .miga {
          background-color:#48ae64;
          height:100px;
          line-height: 100px;
        }
    </style>

    <iron-form id="formLogin">
     <form method="GET" action="#">
     </form>
     </iron-form>

     <iron-form id="formRegister">
      <form method="GET" action="#">
        <template is="dom-if" if="{{showRegister}}">
          <div class="card  card-register">
           <h1>Crear tu cuenta</h1>

           <paper-input class="username" label="Nombre"  autofocus required
              auto-validate maxlength="50"
              pattern="^[A-Za-z0-9\s]+$"
              value={{firtsName}}>
             <iron-icon icon="face" slot="suffix"></iron-icon>
           </paper-input>


           <paper-input class="username" label="Apellido paterno"  autofocus required
              pattern="^[A-Za-z0-9\s]+$"
              auto-validate maxlength="50"
              value={{fatherSurname}}>
             <iron-icon icon="assignment-ind" slot="suffix"></iron-icon>
           </paper-input>

           <paper-input class="username" label="Apellido Materno"  autofocus
              pattern="^[A-Za-z0-9\s]+$"
              auto-validate maxlength="50"
              value={{motherSurname}}>
             <iron-icon icon="assignment-ind" slot="suffix"></iron-icon>
           </paper-input>

            <paper-input label="Fecha de nacimiento" value='{{birthDate}}'
              required type="date"
              auto-validate min="1970-01-01"
              max="2010-01-01"
              value="[[birthDate]]">
            </paper-input>

           <paper-input class="username" label="Correo electr&oacute;nico "  autofocus required
              pattern="^[a-zA-Z0-9._-]+@((\[[0-9]\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$"
              auto-validate maxlength="50"
              value={{email}}>
             <iron-icon icon="mail" slot="suffix"></iron-icon>
           </paper-input>

           <paper-password-input label="Contraseña"
               auto-validate required
               maxlength="16" pattern=".{8}"
               value={{password}}>
           </paper-password-input>

           <paper-password-input label="Confirma tu contraseña"
               auto-validate required
               maxlength="16" pattern=".{8}"
               value={{confirmPassword}}>
           </paper-password-input>

           <my-message show-message="[[showMessage]]" message-error="[[messageError]]"></my-message>

           <div class="buttons">
             <paper-button on-tap="_submitRegister" raised class="my-button">Crear cuenta</paper-button>
             <a href='index.html' class='register'>Ya tengo una cuenta</a>
           </div>
           <br />
          </div>
        </template>
      </form>
    </iron-form>

    <template is="dom-if" if="{{showSuccesRegister}}">
      <div class="card  card-succes-register">
        <div class="content-succes">
          <div class="text-succes miga">
            La cuenta se ha creado con éxito
          </div>
          <div class="email-succes">
            [[email]]
          </div>
          <div class="text-succes">

          </div>
          <br />
          <br />
          <a href='index.html' class='register'>Iniciar sessión</a>
        </div>
      </div>
    </template>

    <my-spinner show-spinner="[[showSpinner]]"></my-spinner>
  </template>

  <script src="my-register.js"></script>

</dom-module>
