<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-banner">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        cursor: pointer;
      }

      .cards {
        float:left;
        display: block;
        width: 300px;
        height: 420px;
        padding: 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        background-color: white;
        margin: 10px;
      }

      .banner{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
      }

      .take-on{
        background-image: url("../../images/cards/contrata.png");
      }

      .top-up{
        background-image: url("../../images/cards/recarga.png");
      }

      .purchase{
        background-image: url("../../images/cards/compra.png");
      }

      .text{
        width: 300px;
        height: 100px;
      }

      .number {
        width: 30px;
        height: 30px;
        background-color: darkblue;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: white;
      }

      .text p {
        text-align: justify;
      }
    </style>

    <div class="cards" on-click="register">
      <div class="text">
        <div class="number">[[step]]</div>
        <p>[[message]]</p>
      </div>

      <template is="dom-if" if="[[takeOn]]">
        <div class="banner take-on"></div>
      </template>

      <template is="dom-if" if="[[topUp]]">
        <div class="banner top-up"></div>
      </template>

      <template is="dom-if" if="[[purchase]]">
        <div class="banner purchase"></div>
      </template>
    </div>

  </template>
  <script src="my-banner.js"></script>
</dom-module>
