<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../my-icons.html">

<link rel="lazy-import" href="../my-cards/my-cards.html">
<link rel="lazy-import" href="../my-movements/my-movements.html">
<link rel="lazy-import" href="../my-recharge/my-recharge.html">
<link rel="lazy-import" href="../my-view404.html">


<dom-module id="my-alert">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .content {
        background-color: black;
        opacity: 0.3;
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 1000000001;
      }

      .modal {
          position: fixed;
          z-index: 1000000002;
          width: 550px;
          left: 30%;
          top: 20%;
          background-color: white;
          border-radius: 10px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          padding: 15px;
        }

        .title h2 {
          color: #0099ee;
          height: 50px;
          line-height: 50px;
        }

        @media only screen and (max-width: 1000px) {
          .modal{
            left: 20%;
          }
        }

        @media only screen and (max-width: 800px) {
          .modal{
            width: 50%;
          }
        }
    </style>
    <template is="dom-if" if="[[showAlert]]">
      <div class="content"></div>

      <div class="modal">
        <div>
          <div class="title">
            <h2>AVISO</h2>
          </div>

          <div>
            <p>
              [[messageAlert]]
            </p>
          </div>

          <div class="buttons">
            <paper-button on-tap="_acept" raised class="my-button">ACEPTAR</paper-button>
          </div>

        </div>
      </div>
    </template>
  </template>

  <script src="my-alert.js"></script>

</dom-module>
