<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../my-message/my-message.html">
<link rel="import" href="../my-spinner/my-spinner.html">

<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        max-width: 700px;
        margin: 0 auto;
      }
      .card-login {
        padding: 1px 50px 1px 50px;
      }

      .conent-message {
        background-color: #FCDFDF;
        color: #990000;
        margin-top: 10px;
        font-size: smaller;
        min-height: 30px;
        padding-top: 10px
      }

      iron-icon.tiny {
        --iron-icon-height: 15px;
        --iron-icon-width: 15px;
        float: left;
        margin-top: 2px;
        margin-right: 8px;
        margin-left: 10px;
        }
    </style>

    <div class="card  card-login ">
      <iron-form id="formLogin">
       <form method="GET" action="#">
         <h1>Inicia sesión</h1>

         <paper-input class="username" label="correo electr&oacute;nico "  autofocus required
            pattern="^[a-zA-Z0-9._-]+@((\[[0-9]\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$"
            auto-validate maxlength="50"
            value={{username}}>
           <iron-icon icon="perm-identity" slot="suffix"></iron-icon>
         </paper-input>

         <paper-password-input label="contraseña"
             auto-validate required
             maxlength="16" pattern=".{8}"
             value={{password}}>
         </paper-password-input>

         <my-message show-message="[[showMessage]]" message-error="[[messageError]]"></my-message>

         <div class="buttons">
           <paper-button on-tap="_submitLogin" raised class="my-button">Iniciar</paper-button>
           <a href='registro.html' class='register'>Registrarme</a>
         </div>
         <br />
       </form>
     </iron-form>
    </div>

    <my-spinner show-spinner="[[showSpinner]]"></my-spinner>
  </template>

  <script src="my-login.js"></script>

</dom-module>
