<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-card/my-card.html">
<link rel="import" href="../my-spinner/my-spinner.html">


<dom-module id="my-movements">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="card">
      <vaadin-combo-box items='[[cardsCombo]]' label="Selecciona una tarjeta"  id="cardsBox" on-change="change">
        <template>
          [[item.value]]
        </template>
      </vaadin-combo-box>

      <br />
      <br />

      <table id="movements">
        <thead>
          <th>FECHA</th>
          <th>HORA</th>
          <th>CONCEPTO</th>
          <th>IMPORTE</th>
        </thead>
        <tbody>
          <template is="dom-repeat" items=[[movements]]>
            <tr>
              <td class="t-date">
                [[item.operationDate]]
              </td>
              <td class="t-time">
                [[item.operationHour]]
              </td>
              <td class="t-concept">
                [[item.concept]]
              </td>
              <td class="t-amount">
                [[item.localAmount.amount]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>

    <my-spinner show-spinner="[[showSpinner]]"></my-spinner>

  </template>
  <script src="my-movements.js"></script>
</dom-module>
