<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../shared-styles.html">

<link rel="lazy-import" href="../my-cards/my-cards.html">
<link rel="lazy-import" href="../my-movements/my-movements.html">
<link rel="lazy-import" href="../my-recharge/my-recharge.html">
<link rel="lazy-import" href="../my-store/my-store.html">
<link rel="lazy-import" href="../my-logout/my-logout.html">
<link rel="lazy-import" href="../my-view404.html">
<link rel="import" href="../my-alert/my-alert.html">


<dom-module id="my-app-virtual-card">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      .drawer-list {
        margin: 0 20px;
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="cards" href="[[rootPath]]cards">Tarjetas</a>
          <a name="movements" href="[[rootPath]]movements">Movimientos</a>
          <a name="recharge" href="[[rootPath]]recharge">Recarga</a>
          <a name="store" href="[[rootPath]]store">Tienda</a>
          <a name="logout" href="[[rootPath]]logout">Salir</a>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <style>
              .name-title{
                text-transform: capitalize;
              }
              .logout{
                float: right;
              }

              .lastAccess{
                font-size: small;
              }

              paper-button{
                background-color: darkblue;
                margin-top: 3px;
              }
            </style>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>
              <div class="name-title">Bienvenido [[user.name.firtsName]] [[user.name.fatherSurname]]</div>
              <div class="lastAccess">
                &Uacute;ltima fecha de conexi&oacute;n [[lastAccess]]
              </div>

            </div>
          </app-toolbar>
        </app-header>
        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">

          <my-cards name="cards" url-base=[[urlBase]] show-spinner=[[showSpinner]] refresh={{refreshCards}} internal-page={{internalPage}} show-alert="{{showAlert}}"></my-cards>
          <my-movements name="movements" url-base=[[urlBase]] show-spinner=[[showSpinner]] refresh={{refreshMovs}} show-alert="{{showAlert}}"></my-movements>
          <my-recharge name="recharge" url-base=[[urlBase]] show-spinner=[[showSpinner]] refresh={{refreshRecharge}} show-alert="{{showAlert}}"></my-recharge>
          <my-store name="store" url-base=[[urlStore]] show-spinner=[[showSpinner]] refresh={{refreshStore}} show-alert="{{showAlert}}"></my-store>
          <my-logout name="logout" url-base=[[urlBase]]></my-logout>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>

    <my-alert show-alert="[[showAlert]]"></my-alert>
  </template>

  <script src="my-app-virtual-card.js"></script>
</dom-module>
