<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="my-message">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .content-error {
        background-color: #FCDFDF;
        color: #990000;
        margin-top: 10px;
        font-size: smaller;
        min-height: 30px;
        padding-top: 10px;
        padding-left: 10px;
      }

      iron-icon.tiny {
        --iron-icon-height: 15px;
        --iron-icon-width: 15px;
        float: left;
        margin-top: 2px;
        margin-right: 8px;
      }
    </style>

    <template is="dom-if" if="{{showMessage}}">
      <div class="content-error">
        <iron-icon icon="warning" class="tiny" slot="suffix"></iron-icon>
        <div>
           {{messageError}}
        </div>
      </div>
    </template>
  </template>

  <script src="my-message.js"></script>

</dom-module>
