<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-spinner/my-spinner.html">


<dom-module id="my-store">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .content-product{
        height: 200px;
        width: 300px;
        float: left;
        margin: 10px;
        background-color: white;
      }

      .content-product img{
        height: 100px;
        width: 100px;
        margin-left: 100px;
        margin-top: 10px;
      }

      .text-product{
        height: 100px;
        width: 300px;
        font-size: small;
        line-height: 100px;
      }
    </style>

    <template is="dom-repeat" items=[[products]]>
      <div class="content-product">
          <img src="[[item.thumbnail]]" alt="Smiley face" height="42" width="42">
          <div class="text-product">
            [[item.title]]
          </div>
      </div>

    </template>

    <my-spinner show-spinner="[[showSpinner]]"></my-spinner>

  </template>
  <script src="my-store.js"></script>
</dom-module>
