<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../my-message/my-message.html">
<link rel="import" href="../my-spinner/my-spinner.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-card/my-card.html">
<link rel="import" href="../my-spinner/my-spinner.html">

<dom-module id="my-recharge">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .nameOwner{max-width: 400px;}
      .creditCard{max-width: 200px;}
      .codeCvv{max-width: 100px;}
      .expirationMonth{max-width: 100px;float:left; margin-right: 15px;}
      .expirationYear{max-width: 100px;float:left; margin-right: 15px;}
      .amounRecharge{max-width: 200px;}
      .amount {max-width: 200px;}
      .topUp {
        background-color: aliceblue;
        padding: 10px;
      }
      p {float: left; margin-top: 30px; margin-right: 25px;}
      paper-password-input {max-width: 200px}
    </style>

    <div class="card">
      <iron-form id="formTopUp">
       <form method="GET" action="#">
         <template is="dom-if" if="{{!succesTopUp}}">
           <h1>Ingresa los datos de tu tarjeta de d&eacute;bito/cr&eacute;dito con la cual realizarás la recarga</h1>

           <div class="topUp">
             <paper-input class="nameOwner" label="Nombre del titular"  autofocus required
                auto-validate maxlength="50"
                value={{nameOwner}}>
               <iron-icon icon="perm-identity" slot="suffix"></iron-icon>
             </paper-input>

             <paper-input class="creditCard" label="Número de tarjeta"  autofocus required
                pattern="^([0-9]){16}$"
                auto-validate maxlength="16"
                value={{creditCard}}>
               <iron-icon icon="credit-card" slot="suffix"></iron-icon>
             </paper-input>

             <p>Vencimiento</p>

             <paper-input class="expirationMonth" label="Mes"  autofocus required
                pattern="^([0-9]){2}$"
                auto-validate maxlength="2"
                value={{expirationMonth}}>
             </paper-input>

             <paper-input class="expirationYear" label="Año"  autofocus required
                pattern="^([0-9]){2}$"
                auto-validate maxlength="2"
                value={{expirationYear}}>
             </paper-input>

             <br />
             <br />

             <div class="codeCvv">
               <paper-password-input label="C&oacute;digo"
                   auto-validate required
                   pattern="^([0-9]){3}$"
                   maxlength="3"
                   value={{codeCvv}}>
               </paper-password-input>
             </div>


             <paper-input label="Importe" class="amount" type="number"  autofocus required auto-validate maxlength="13"  value={{amountRecharge}}>
               <div slot="prefix">$</div>
             </paper-input>
           </div>

          <h1>Selecciona la tarjeta a recargar</h1>
          <div class="topUp">
           <vaadin-combo-box items='[[cardsCombo]]' label="Selecciona una tarjeta"  id="cardsBox" on-change="change">
             <template>
               [[item.value]]
             </template>
           </vaadin-combo-box>
         </div>

           <my-message show-message="[[showMessage]]" message-error="[[messageError]]"></my-message>

           <div class="buttons">
             <paper-button on-tap="_submitTopUp" raised class="my-button">Realizar recarga</paper-button>
           </div>
           <br />
         </template>
       </form>
     </iron-form>
    </div>

    <template is="dom-if" if="{{succesTopUp}}">
      <div class="card  card-succes-register">
        <div class="content-succes">
          <div class="text-succes miga">
            Tu recarga a sido abonada correctamente
          </div>
          <div class="email-succes">
            [[amountRecharge]]
          </div>
        </div>
      </div>
    </template>

    <my-spinner show-spinner="[[showSpinner]]"></my-spinner>
  </template>
  <script src="my-recharge.js"></script>
</dom-module>
