<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-logout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      .logout {
        background-color: aliceblue;
        padding: 10px;
        text-align: center;
      }
    </style>

    <div class="card">
      <iron-form id="formLogout">
       <form method="GET" action="#">
         <div class="logout">
           <h1>Da aceptar para finalizar la sesi&oacute;n</h1>
           <br />
           <div class="buttons">
             <paper-button on-tap="_logout" raised class="my-button">ACEPTAR</paper-button>
           </div>
         </div>
       </form>
     </iron-form>
    </div>
  </template>
  <script src="my-logout.js"></script>
</dom-module>
