<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .my-button{
        background: #237ABA;
        color: #fff;
      }

      .hideElement {
        display: none
      }

      vaadin-combo-box {
        width: 500px;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      #movements th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #237ABA;
        color: white;
      }

      td.t-amount {
        text-align:right;
      }
      .buttons {
        margin: 0 auto;
        width: max-content;
        margin-top: 15px;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      .card-register {
        padding: 1px 50px 1px 50px;
      }

      .conent-message {
        background-color: #FCDFDF;
        color: #990000;
        margin-top: 10px;
        font-size: smaller;
        min-height: 30px;
        padding-top: 10px
      }

      .text-succes {
        font-size: xx-large;
      }

      .email-succes {
        font-size: xx-large;
        color: black;
        text-align: center;
        margin-top: 50px;
      }

      .content-succes {
        height:300px;
        text-align: center;
        color: white;
      }

      .miga {
        background-color:#48ae64;
        height:100px;
        line-height: 100px;
      }

      @media only screen and (max-width: 540px) {
        vaadin-combo-box {
          width: 260px;
        }
      }
    </style>
  </template>
</dom-module>
