<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-card/my-card.html">
<link rel="import" href="../my-empty-card/my-empty-card.html">
<link rel="import" href="../my-spinner/my-spinner.html">
<link rel="import" href="../my-message/my-message.html">



<dom-module id="my-cards">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .mobileCard{
        width: 200px;
      }
      .aliasCard{
        width: 200px;
      }
    </style>
    <div class="card">

      <iron-form id="formAddCard">
        <form method="POST" action="#">
          <template is="dom-if" if="{{showFormNew}}">
            <template is="dom-if" if="{{!showSuccesAddNew}}">

              <h3>Ingresa un número celular que será asociado a tu tarjeta:</h3>
              <paper-input class="mobileCard" label="N&uacute;mero celular" autofocus required
                 pattern="^([0-9]){10}$"
                 auto-validate maxlength="10"
                 value={{mobileCard}}>
                 <iron-icon icon="settings-cell" slot="suffix"></iron-icon>
              </paper-input>

              <h3>Ingresa un alias para tu nueva tarjeta:</h3>
              <paper-input class="aliasCard" label="Alias" autofocus required
                 pattern="^[A-Za-z0-9\s]+$"
                 auto-validate maxlength="20"
                 value={{aliasCard}}>
                 <iron-icon icon="grade" slot="suffix"></iron-icon>
              </paper-input>

              <my-message show-message="[[showMessage]]" message-error="[[messageError]]"></my-message>

              <div class="buttons">
                <paper-button on-tap="_submitCreateCard" raised class="my-button">Contratar tarjeta</paper-button>
                <paper-button on-tap="_cancel" raised class="my-button">Cancelar</paper-button>
              </div>
              <br />
            </template>

            <template is="dom-if" if="{{showSuccesAddNew}}">
              <div class="card  card-succes-register">
                <div class="content-succes">
                  <div class="text-succes miga">
                    La tarjeta se ha creado con éxito
                  </div>
                  <div class="email-succes">
                    [[email]]
                  </div>
                  <div class="text-succes">

                  </div>
                  <br />
                  <br />
                  <paper-button on-tap="_cancel" raised class="my-button">Aceptar</paper-button>
                </div>
              </div>
            </template>
          </template>
        </form>
      </iron-form>

      <template is="dom-if" if="{{!showFormNew}}">
        <template is="dom-repeat" items=[[cards]]>
          <my-card name="card" card=[[item]]></my-card>
        </template>

        <template is="dom-if" if="{{allowAddNew}}">
          <my-empty-card name="emptyCard" on-click="addCard"></my-empty-card>
        </template>
      </template>
    </div>
    <my-spinner show-spinner="[[showSpinner]]"></my-spinner>
  </template>
  <script src="my-cards.js"></script>
</dom-module>
