<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-empty-card">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .separator {
        height:20px
      }
      .separator2 {
        height:10px
      }
      .virtual-card {
        max-width: 360px;
        height: 224px;
        background-image: url("../../images/cards/addCard.png");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 7%;
        background-size: cover;
        opacity: 0.7;
        cursor: pointer;
      }

      .virtual-card:hover {
        opacity: 0.8;
      }

      .chip {
        background-size: cover;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 15px;
        float: left;
      }

      .product {
        color: white;
        font-size: x-large;
      }

      .product-name {
        margin-left: 15px;
        float: left;
        width: 75%;
      }

      .name {
        margin-left: 15px;
        float: left;
        width: 75%;
      }

      .number {
        font-size: x-large;
        color: white;
        margin-left: 40px;
      }

      .number span{
        margin-right: 10px;
      }

      .card-footer{
        color: white;
        font-size: small;
      }
      .amount {
        font-size: xx-large;
        text-align: right;
        color: cyan;
        height: 50px;
        line-height: 50px;
        padding-right: 30px;
      }

      @media only screen and (max-width: 740px) {
        .amount {
          font-size: x-large;
        }
        .number {
          font-size: larger;
        }
        .product-name {
            width: 65%;
        }
      }
    </style>
    <div class="virtual-card">
      <div class="product">
        <div class="product-name">Tarjeta virtual</div>
        <div>VISA</div>
      </div>
      <div class="separator"></div>
      <div class="separator"></div>
      <div>
        <div class="amount">
          CREAR TARJETA
          <iron-icon icon="radio-button-unchecked" slot="suffix"></iron-icon>
        </div>
      </div>

      <div class="separator"></div>
      <div class="number">
        <span>····</span>
        <span>····</span>
        <span>····</span>
        <span>····</span>
      </div>
      <div class="separator2"></div>

      <div class="card-footer">
        <div class="name">
          xxxxxxxxx xxxxxxx
        </div>
        <div class="expiration">
        </div>
      </div>
    </div>

      <div class="separator"></div>
  </template>
  <script src="my-empty-card.js"></script>
</dom-module>
