<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="my-spinner">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .content {
        background-color: gray;
        opacity: 0.25;
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 1000000001;
      }

      .loader {
        border: 10px solid #f3f3f3;
        border-top: 10px solid #3498db;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 2s linear infinite;
        display: block;
        margin-left: auto;
        margin-right: auto;
          margin-top: 20%;
        }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
    <template is="dom-if" if="[[showSpinner]]">
      <div class="content">
         <div class="loader"></div>
      </div>
    </template>
  </template>

  <script src="my-spinner.js"></script>

</dom-module>
